.list-section{
    .list-left{
        width:20%;
        float:left;
    }
    .list-content{
        width:60%;
        float:left;
        
    }
    .list-right{
        width:20%;
        float:left;
    }
    overflow:hidden;
}


