@import '~open-color/open-color';
@import '~include-media/dist/include-media';

.footer {
  height: 10rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  .brand {
    // 로고
    color: white;
    font-size: 2rem;
    font-weight: 600;
  }
}
