body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  .modal{
    position: absolute;
    /* display:block; */
    top: 30%;
    left: 30%;
    right: 30%;
    bottom: 30%;
    background-color: white;
}

.overlay {  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(245, 245, 245, 0.842);
}

.resultModal{
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    

    /* background-color :red; */
}


